@model ProjectKairos.ViewModel.WatchDetailViewModel

@{
    ViewBag.Title = "Watch Detail";

    ViewBag.Home = "";
    ViewBag.Product = "";
    ViewBag.MyAccount = "";
    ViewBag.MyOrder = "";

    Layout = "~/Views/Shared/_LayouUser.cshtml";
}

@section addToCart
{
    @Scripts.Render("~/bundles/addToCart")
}

<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-30">
    <div class="flex-w flex-sb">
        <!-- 3 images -->
        <div class="w-size13 p-t-30 respon5">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>

                <div class="slick3">
                    <div class="item-slick3" data-thumb="@Model.Thumbnail">
                        <div class="wrap-pic-w for-img-contain">
                            <img src="@Model.Thumbnail" alt="IMG-PRODUCT" class="for-img">
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>

        <!-- product overview -->
        <div class="w-size14 p-t-30 respon5">
            <h4 class="m-text16">
                @Model.ModelName Collection
            </h4>
            <h3 class="product-detail-name m-text5 t-left p-b-13">
                @Model.WatchCode
            </h3>
            <span class="m-text17 p-b-13">
                $@Model.Price
            </span>

            <!-- check quantity -->
            <p class="s-text3 p-t-13">
                Status:
                @if (@Model.Quantity > 0)
                {
                    <span style="color: green">Available</span>
                    <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                        <!-- Button -->
                        <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" type="submit"  onclick="addToCartAjax('@Model.WatchId', '@Model.WatchCode')">
                            Add to Cart
                        </button>
                    </div>
                }
                else
                {
                    <span style="color: red">Out of Stock</span>
                }

            </p>

            <!--ADD TO CART-->
            
        </div>

        <!-- product's Specifications -->
        <div class="w-size13 p-t-30 respon5">
            <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Specifications
                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23">
                    <table class="table table-config s-text3 table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Code</th>
                                <td>@Model.WatchCode</td>
                            </tr>
                            <tr>
                                <th scope="row">Movement</th>
                                <td>@Model.MovementName</td>
                            </tr>
                            <tr>
                                <th scope="row">Model</th>
                                <td>@Model.ModelName</td>
                            </tr>
                           
                            <tr>
                                <th scope="row">Band Material</th>
                                <td>@Model.BandMaterial</td>
                            </tr>
                            <tr>
                                <th scope="row">Case Material</th>
                                <td>@Model.CaseMaterial</td>
                            </tr>
                            <tr>
                                <th scope="row">Case Radius</th>
                                <td>@Model.CaseRadius.GetValueOrDefault() mm</td>
                            </tr>
                            
                            
                            <tr>
                                <th scope="row">Guarantee</th>
                                <td>@Model.Guarantee months</td>
                            </tr>
                            <tr>
                                <th scope="row">Water Resistant</th>
                                <td>@Model.WaterResistantInfo</td>
                            </tr>
                            <tr>
                                <th scope="row">LED Light</th>
                                <td>@Model.LedLightInfo</td>
                            </tr>
                            <tr>
                                <th scope="row">Alarm</th>
                                <td>@Model.AlarmInfo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- product Description -->
        <div class="w-size14 p-t-30 respon5">
            <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Description
                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23">
                    <p class="s-text3">
                        @MvcHtmlString.Create(HttpUtility.HtmlDecode(Model.Description))                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bgwhite p-t-35 p-b-80">
    <!-- Review -->
    <div class="bo9 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm" style="background-color: rgba(238, 238, 238, 0.623)">
        <h5 class="m-text20 p-b-24">
            Review
        </h5>
        <!-- One REVIEW =========================================== -->
        <div class="flex-w flex-sb bo10 p-t-15 p-b-20">
            <div class="flex-row">
                <p class="m-text19">
                    Name
                </p>
                <span class="linedivide1"></span>
                <p class="s-text3">
                    20 - 12 - 2018
                </p>
            </div>          
        </div>
        <!-- End One REVIEW =========================================== -->        
    </div>
</div>


