@using ProjectKairos.Utilities
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon.png">
    <title>@ViewBag.Title</title>    
    @Styles.Render("~/Content/admin_css")
    @RenderSection("ckeditor", required: false)
    <!--If required set to true, will throw error on any site use this layout but does not
    have section implemented-->
</head>

<body class="fixed-nav sticky-footer bg-light" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">

        <a class="navbar-brand" href="#">
            <img src="~/Content/img/icons/logo1.png" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item">
                    <a class="nav-link nav-welcome" href="#">
                        <span class="nav-link-text">Welcome, @Session.GetCurrentUserInfo("FullName")</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.Info" data-toggle="tooltip" data-placement="right" title="Account Information">
                    <a class="nav-link" href="@Url.Action("Index", "Admin")">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Account Information</span>
                    </a>
                </li>
                <li class="nav-item  @ViewBag.Account" data-toggle="tooltip" data-placement="right" title="Manage Users">
                    <a class="nav-link" href="@Url.Action("ManageAccount", "Admin")">
                        <i class="fa fa-fw fa-users "></i>
                        <span class="nav-link-text">Manage Users</span>
                    </a>
                </li>
                <li class="nav-item  @ViewBag.Order" data-toggle="tooltip" data-placement="right" title="Manage Orders">
                    <a class="nav-link" href="@Url.Action("ManageOrder", "Admin")">
                        <i class="fa fa-fw fa-copy"></i>
                        <span class="nav-link-text">Manage Orders</span>
                    </a>
                </li>
                <li class="nav-item  @ViewBag.Watch" data-toggle="tooltip" data-placement="right" title="Manage Watches">
                    <a class="nav-link" href="@Url.Action("ManageWatch", "Admin")">
                        <i class="fa fa-fw fa-cubes"></i>
                        <span class="nav-link-text">Manage Watches</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                        <i class="fa fa-fw fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content-wrapper">
        @RenderBody()


        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Kairos 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        @using (@Html.BeginForm("Logout", "Account", FormMethod.Post))
        {
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" type="submit">Logout</button>                            
                        </div>
                    </div>
                </div>
            </div>
        }
        

        @Scripts.Render("~/bundles/admin_script")
        @RenderSection("scripts", required: false)
        @if (TempData["SHOW_MODAL"] != null)
        {
            @Html.Raw(TempData["SHOW_MODAL"]);
        }
    </div>
</body>

</html>